<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIoet65I2M8pXtqFm9AXR8eWI569k6fcs</string>
	<key>GCM_SENDER_ID</key>
	<string>331500783813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocExpensesTracker</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-f255c</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-f255c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331500783813:ios:ecc1b06cbd06bf3bca48ac</string>
</dict>
</plist>